html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Oxygen;
  color: #000;
}

body {
  background-color: #fff;
}

.coin_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  color: #fff;
}

span {
  font-size: 12px;
  color: #ff0000;
  margin-bottom: 0.5rem;
}

.layout {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}
.coin_logo {
  height: 250px;
  width: 250px;
}
